 
 <div class="cardMargin">
	 <div class="ui card">
		<div class="content">
			<div class="header">Charlotte Traffic Accidents</div>
			<div class="meta">Never get stuck in Charlotte traffic again!</div>
			<p class="description justifyParagraph">
				<em>Charlotte Traffic Accidents</em> is an Angular 2 application that provides instant access to traffic accident information...directly from the Charlotte Mecklenburg Police Department. 
			</p>
			<p class="description justifyParagraph">
				The app calculates the distance from your browser location to each accident. Show the accident map to plan your alternate route!
			</p>
			<address>
				Any questions?<br/>
				Contact us @ <a href="mailto:jam3s8ell@gmail.com">jam3s8ell@gmail.com</a>
			</address>
		</div>
	</div>
</div>
